@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  -ms-overflow-style: none;
  font-family: "Pretendard-Regular";
  width: 374px;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
.Nav {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 24px 16px 0px 16px;
  background-color: rgba(118, 118, 128, 0.12);
  border-radius: 6px;
  padding: 4px;
}

.Nav-select,
.Nav-non-select-1,
.Nav-non-select-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 16px;
}

.Nav-select {
  font-weight: 600;
  color: #007AFF;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 6px;
  height: 34px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: 
  0px 3px 8px rgba(0, 0, 0, 0.12),
  0px 3px 1px rgba(0, 0, 0, 0.04); 
}

.Nav-non-select-1 {
  font-weight: 500;
  color: #BDBDBD;
  cursor: pointer;
  position: relative;

}
.Nav-non-select-1::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%; 
  transform: translateY(-50%);
  width: 2px;
  height: 12px;
  background-color: #8E8E93; 
  opacity: 0.12;
}

.Nav-non-select-2 {
  font-weight: 500;
  color: #BDBDBD;
  cursor: pointer;
}
.URL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}
.Download-button {
  width: 38px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 7px;
  margin: 0px;
}

.Download {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.URL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}
.URL-input-container {
  background-color: rgba(118, 118, 128, 0.12);
    border-radius: 6px;
    width: 342px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
.url-input {
  flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    margin-right: 10px;
    font-family: "Pretendard-Regular";
}

input[type="text" i] {
  padding: 0;
}
.generate-button-container{
    display: flex;
    align-items: center;
}
.Generate-button{
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.Image {
  background-color: rgba(118, 118, 128, 0.12);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 246px;
    margin: 0px 16px 24px 16px;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.Image-container {
  border-radius: 50%;
    position: relative;
    width: 44px;
    height: 44px;
    margin-bottom: 12px;
    background-color: #F9F9F9;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Generate img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Generate-icon {
  width: 24px;
  height: 24px;
}

.Generate-text-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
}

.Generate-text-1 {
  color: #006ffd;
  font-weight: 500;
  font-size: 14px;
}

.Generate-text-2 {
  color: #353535;
  font-weight: 400;
  font-size: 14px;
}

.Generate.dragover,
.Image.dragover {
  background-color: #f0f0f0;
}